.cart-container {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  margin: 20px;
  font-family: 'Montserrat', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

.cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.select-all {
  background-color: #d9534f;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.select-all:hover{
  background-color: #05a2f6;
}
.cart-content {
  display: grid;
  grid-template-columns: 0.5fr 2.5fr 3fr;
  gap: 20px;
}

.cart-item {
  display: contents;
}

.cart-item-checkbox {
  align-self: center;
}

.cart-item-image {
  width: 65%;
  height: 100%;
  object-fit: cover;
  margin-right: 20px;
  justify-self: center;
}

.cart-item-details {
  display: flex;
  flex-direction: column;
}

.quantity-control {
  display: flex;
  align-items: center;
  gap: 5px;
}

.quantity-control button {
  background-color: #ddd;
  border: none;
  padding: 5px;
  cursor: pointer;
}

.remove-button {
  background-color: #f44336;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.cart-summary {
  margin-top: 20px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.checkout-button {
  background-color: #d9534f;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}
.quantity-control input{  
  text-align: center;
  border: none;
  border: 1px solid #000;
  background-color: #fffdfd;
}

.quantity-control button{
  background-color: #d9534f;
  color: #fff;
  border-radius: 5px;
}
.quantity-control button:hover{
  background-color: #05a2f6;
}
.checkout-button{
  align-items: center;
  justify-content: center;
}