.product-detail {
  display: flex;
  gap: 20px;
  padding: 20px;
  max-width: 100%;
  height: 400px;
  margin: 0 auto;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Montserrat', sans-serif;
}



.product-image-detail {
  flex: 2;
  display: flex;
  height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.product-image-detail img {
  max-width: 100%;
  max-height: 100%;
  transition: transform 0.3s ease;
}



.product-info {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product-info h2 {
  font-size: 28px;
  margin-bottom: 10px;
  color: #333;
}

.product-info .price {
  font-size: 24px;
  color: #e91e63;
  margin-bottom: 10px;
}

.product-info .discount {
  font-size: 18px;
  color: #555;
  margin-bottom: 20px;
}

.actions {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
}

.buy-now,
.add-to-cart,
.back-button {
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.buy-now {
  background-color: #4caf50;
  color: white;
}

.buy-now:hover {
  background-color: #388e3c;
  transform: translateY(-2px);
}

.add-to-cart {
  background-color: #2196f3;
  color: white;
}

.add-to-cart:hover {
  background-color: #1976d2;
  transform: translateY(-2px);
}

.back-button {
  background-color: #f44336;
  color: white;
}

.back-button:hover {
  background-color: #d32f2f;
  transform: translateY(-2px);
}
.product-image img {
  max-width: 100%;
  height: 75%;
  transition: transform 0.3s ease;
}

.specifications-link {
  display: block;
  margin: 1rem 0;
  color: #007bff;
  text-decoration: none;
}

.specifications-link:hover {
  text-decoration: underline;
}

.ReactModal__Content.ReactModal__Content--after-open.modal-content {
  background-color: white;
}